.header {
    padding: 1.875rem 5.5rem;
    @include pad {
      padding: 1.875rem 0;
    }
    @include mobile {
      padding-top: 0.625rem;
      padding-bottom: 0;
    }
  }
  
  .logo{
    display: block;
    width: 5rem;
    height: 3.0625rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @include mobile{
      width: 3rem;
      height: 1.8125rem;
      margin-bottom: 0.625rem;
    }
  }
  