<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="d-flex justify-between items-center container-md px-sm-0 flex-sm-column">
      <h2 class="logo mx-sm-auto"><a href="/">LOGO</a></h2>
      <ul class="d-flex justify-between items-center text-center gap-8 gap-md-5 gap-sm-0 w-sm-100 flex-sm-wrap">
        <li class="w-sm-50 border-sm border-white">
          <a href="productOp.html" class="fs-8 text-white link link--underline d-sm-block">
            系列鏡框
          </a>
          </li>
        <li class="w-sm-50 border-sm border-white">
          <a href="location.html" class="fs-8 text-white link link--underline">
            門市據點
          </a>
          </li>
        <li class="w-sm-50 border-sm border-white">
          <a href="blog.html" class="fs-8 text-white link link--underline">
            部落格
          </a>
          </li>
        <li class="w-sm-50 border-sm border-white">
          <a href="faq.html" class="fs-8 text-white link link--underline">
            常見問題
          </a>
          </li>
      </ul>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <ul>
        <li class="d-flex justify-between items-start border-bottom border-white pb-3 mb-4 mb-sm-2">
          <ul class="">
            <li class="footer-mb d-sm-none">
              <ul class="d-flex justify-between items-center gap-6">
                <li><a href="/" class="text-white link link--underline">首頁</a></li>
                <li><a href="productOp.html" class="text-white link link--underline">系列框架</a></li>
                <li><a href="location.html" class="text-white link link--underline">門市據點</a></li>
                <li><a href="blog.html" class="text-white link link--underline">部落格</a></li>
                <li><a href="faq.html" class="text-white link link--underline">常見問題</a></li>
              </ul>
            </li>
            <li>
              <address>
                <div class="mb-2">
                  <a class="text-white link link--underline fs-5 fs-md-8 fs-sm-bs align-middle" href="tel:+8000000000">
                    <img class="icon mr-1" src="./assets/images/icon-phone.svg" alt="tel" />
                    <span class="d-inline-block">0800-000-000</span>
                  </a>
                </div>
                <a class="text-white link link--underline fs-5 fs-md-8 fs-sm-bs align-middle" href="mailto:glass@business.com">
                  <img class="icon mr-1" src="./assets/images/icon-mail.svg" alt="mail" />
                  <span class="d-inline-block">glasses@business.com</span>
                </a>
              </address>
            </li>
          </ul>
          <ul class="w-sm-35 d-flex justify-between items-center gap-4 gap-sm-3">
            <li><a href="#"><img class="icon" src="./assets/images/icon-fb.svg" alt="facebook" /></a></li>
            <li><a href="#"><img class="icon" src="./assets/images/icon-ig.svg" alt="instagram" /></a></li>
            <li><a href="#"><img class="icon" src="./assets/images/icon-line.svg" alt="line@" /></a></li>
          </ul>
        </li>
        <li class="d-flex justify-between items-center flex-sm-column gap-sm-1 items-sm-start">
          <span class="fs-sm-9">Copyright © 2020 Glasses.All rights reserved.</span>
          <ul class="d-flex justify-between items-center gap-8 gap-sm-1 flex-sm-column items-sm-start">
            <li class="fs-9">
              <a href="#" class="text-white link link--underline">
                隱私權政策
              </a>
            </li>
            <li class="fs-9">
              <a href="#" class="text-white link link--underline">
                服務條款
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
