

@each $size, $sizeamount in $sizes{
  .fs-#{$size}{
    font-size: #{$sizeamount};
  }
}

@each $size, $sizeamount in $sizes{
  .fs-md-#{$size}{
    @include pad{
      font-size: #{$sizeamount};
    }
  }
}

@each $size, $sizeamount in $sizes{
  .fs-sm-#{$size}{
    @include mobile{
      font-size: #{$sizeamount};
    }
  }
}