$gutter-width:30px;
$grid-num:12;

@for $i from 1 through $grid-num{
  .col-#{$i}{
    gap: $gutter-width;
    width: 100% * ($i / $grid-num );
    @include pad{
      width: 100% * ($i / $grid-num ) /2;
    }
    @include mobile{
        width: 100%;
    }
  }
}

$flex-directionVal: (row, column, row-reverse, column-reverse);

@each $flex in $flex-directionVal {
    .flex-#{$flex}{
        flex-direction: $flex;
    }
}
@each $flex in $flex-directionVal {
    @include pad{
    .flex-md-#{$flex}{
            flex-direction: $flex;
        }
    }
}
@each $flex in $flex-directionVal {
    @include mobile{
    .flex-sm-#{$flex}{
            flex-direction: $flex;
        }
    }
}

$wrapVal: (wrap, nowrap, wrap-reverse);

@each $flex in $wrapVal {
    .flex-#{$flex}{
        flex-wrap: $flex;
    }
}
@each $flex in $wrapVal {
    @include pad{
        .flex-md-#{$flex}{
            flex-wrap: $flex;
        }
    }
}
@each $flex in $wrapVal {
    @include mobile{
        .flex-sm-#{$flex}{
            flex-wrap: $flex;
        }
    }
}


$justify-contentVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
);

@each $jc, $val in $justify-contentVal {
    .justify-#{$jc}{
        justify-content: #{$val};
    }
}

$displayVal: (flex, block, inline, inline-block);

@each $dp in $displayVal {
    .d-#{$dp}{
        display: #{$dp};
    }
}
@each $dp in $displayVal {
    @include pad{
        .d-md-#{$dp}{
            display: #{$dp};
        }
    }
}@each $dp in $displayVal {
    @include mobile{
        .d-sm-#{$dp}{
            display: #{$dp};
        }
    }
}

$itemsVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
);

@each $its, $val in $itemsVal {
    .items-#{$its}{
        align-items: #{$val};
    }
}
@each $its, $val in $itemsVal {
    @include pad {
        .items-md-#{$its}{
            align-items: #{$val};
        }
    }
}
@each $its, $val in $itemsVal {
    @include mobile {
        .items-sm-#{$its}{
            align-items: #{$val};
        }
    }
}

$alignVal: (baseline, top, middle, bottom, text-bottom, text-top);

@each $ag in $alignVal {
    .align-#{$ag}{
        vertical-align: $ag;
    }
}

