.hide {
    display: none;
}
@include pad {
    .hide-md {
        display: none;
    }
}
@include mobile {
    .hide-sm {
        display: none;
    }
}

@each $float in $floatVal {
    .float-#{$float}{
        float: #{$float};
    }
}