$spacer: 1rem !default;
$spacers: (
  auto: auto,
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.25,
  6: $spacer * 2.5,
  7: $spacer * 2.875,
  8: $spacer * 3,
  9: $spacer * 3.125,
  10: $spacer * 4,
);
$sides: (top, bottom, left, right); // Leave this variable alone
@each  $space, $spaceamount in $spacers {
 @each $side in $sides {
   .m#{str-slice($side, 0, 1)}-#{$space} {
     margin-#{$side}: #{$spaceamount};
   } 
   .p#{str-slice($side, 0, 1)}-#{$space} {
     padding-#{$side}: #{$spaceamount};
   }
  }
}
@each  $space, $spaceamount in $spacers {
  @each $side in $sides {
    @include pad {
    .m#{str-slice($side, 0, 1)}-md-#{$space} {
        margin-#{$side}: #{$spaceamount};
    }

    .p#{str-slice($side, 0, 1)}-md-#{$space} {
        padding-#{$side}: #{$spaceamount};
    }
   }
 }
}

@each  $space, $spaceamount in $spacers {
  @each $side in $sides {
    @include mobile {
    .m#{str-slice($side, 0, 1)}-sm-#{$space} {
        margin-#{$side}: #{$spaceamount};
      }
      .p#{str-slice($side, 0, 1)}-sm-#{$space} {
          padding-#{$side}: #{$spaceamount};
        }
      }
   }
 }

@each  $space, $spaceamount in $spacers {
  .mx-#{$space} {
    margin-right: #{$spaceamount};
    margin-left: #{$spaceamount};
  }
  .my-#{$space} {
    margin-top: #{$spaceamount};
    margin-bottom: #{$spaceamount};
  }
  .px-#{$space} {
    padding-right: #{$spaceamount};
    padding-left: #{$spaceamount};
  }
  .py-#{$space} {
    padding-top: #{$spaceamount};
    padding-bottom: #{$spaceamount};
  }
}

@each  $space, $spaceamount in $spacers {
  @include pad {
    .mx-md-#{$space} {
      margin-right: #{$spaceamount};
      margin-left: #{$spaceamount};
    }
    .my-md-#{$space} {
      margin-top: #{$spaceamount};
      margin-bottom: #{$spaceamount};
    }
    .px-md-#{$space} {
      padding-right: #{$spaceamount};
      padding-left: #{$spaceamount};
    }
    .py-md-#{$space} {
      padding-top: #{$spaceamount};
      padding-bottom: #{$spaceamount};
    }
  }
}

@each  $space, $spaceamount in $spacers {
  @include mobile {
    .mx-sm-#{$space} {
      margin-right: #{$spaceamount};
      margin-left: #{$spaceamount};
    }
    .my-sm-#{$space} {
      margin-top: #{$spaceamount};
      margin-bottom: #{$spaceamount};
    }
    .px-sm-#{$space} {
      padding-right: #{$spaceamount};
      padding-left: #{$spaceamount};
    }
    .py-sm-#{$space} {
      padding-top: #{$spaceamount};
      padding-bottom: #{$spaceamount};
    }
  }
}

@each  $space, $spaceamount in $spacers {
  .gap-#{$space} {
    gap: #{$spaceamount};
  }
}

@each  $space, $spaceamount in $spacers {
  .gap-md-#{$space} {
    @include pad {
      gap: #{$spaceamount};
    }
  }
}

@each  $space, $spaceamount in $spacers {
  .gap-sm-#{$space} {
    @include mobile {
      gap: #{$spaceamount};
     }
  }
}

$widthVal: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
);

@each $width, $val in $widthVal {
  .w-#{$width}{
    width: #{$val};
  }
  @include pad{
    .w-md-#{$width}{
      width: #{$val};
    }
  }
  @include mobile{
    .w-sm-#{$width}{
      width: #{$val};
    }
  }
}
