@use "sass:math";

$base: 16;

$main: #AA0601;
$main-border: #9F1213;
$secondary: #650300;
$gray: #555555;
$border-light: #DCDCDC;
$white: #fff;
$black: #000;
$light: #F2F2F2;
$gray-light: #6C6C6C;
$gray-light2: #CED4DA;
$gray-light3: #707070;

$theme-color: (
  primary:  $main,
  secondary: $secondary,
  white: $white,
  black: $black,
  gray: $gray,
  light: $light,
  gray-light: $gray-light,
) !default;

$border-color: (
    main: $main-border,
    gray: $gray,
    gray-light: $gray-light2,
    light: $border-light,
    gray-dark: $gray-light3,
) !default;

$borderLoc:(null, top, right, bottom, left) !default;

$borderSize:(
  0: 0px,
  null: 1px,
  1: 4px,
  2: 8px,
  3: 3px,
) !default;


$gutter-width: 30px !default;
$grid-num: 12 !default;

$spacer: 1rem !default;
$spacers: (
  0:  0,
  1:  (8/$base)*$spacer, 
  '1.5':  (12/$base)*$spacer,
  2:  (16/$base)*$spacer, 
  3:  (24/$base)*$spacer, 
  '3.5':  (28/$base)*$spacer,
  4:  (32/$base)*$spacer, 
  '4.5':  (36/$base)*$spacer,
  5:  (40/$base)*$spacer, 
  6:  (48/$base)*$spacer, 
  7:  (56/$base)*$spacer, 
  '7.5':  (60/$base)*$spacer,
  8:  (64/$base)*$spacer, 
  9:  (72/$base)*$spacer, 
  10: (80/$base)*$spacer, 
  11: (88/$base)*$spacer, 
  12: (96/$base)*$spacer,
  auto: auto
) !default;

$sides: (
    '': null,
    't': top,
    'b': bottom,
    'l': left,
    'r': right
    ) !default;

$floatVal: (left, right, none,) !default;

$flex-directionVal: (row, column, row-reverse, column-reverse) !default;

$wrapVal: (wrap, nowrap, wrap-reverse) !default;

$justify-contentVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
) !default;

$displayVal: (flex, block, inline, inline-block, none) !default;

$itemsVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
) !default;

$alignVal: (baseline, top, middle, bottom, text-bottom, text-top) !default;

$widthVal: (
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$sizer: 1rem !default;
$sizes: (
  bs: $sizer,
  1:  (72/$base)*$sizer,
  2:  (64/$base)*$sizer,
  3:  (48/$base)*$sizer,
  4:  (42/$base)*$sizer,
  5:  (36/$base)*$sizer,
  6:  (32/$base)*$sizer,
  7:  (24/$base)*$sizer,
  8:  (20/$base)*$sizer,
  9:  (14/$base)*$sizer,
) !default;

$weightVal: (
  base: 400,
  med: 500,
  bold: 700,
  black: 900,
) !default;

$pos: (static, relative, absolute, fixed, sticky) !default;

$textAlign: (left, center, right, justify) !default;

$whiteSpace: (normal, nowrap, pre, pre-line, pre-wrap) !default;


