@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  vertical-align: center;
  max-width: 100%;
  height: auto; }

.text-primary {
  color: #AA0601; }

.bg-primary {
  background-color: #AA0601; }

.text-secondary {
  color: #650300; }

.bg-secondary {
  background-color: #650300; }

.text-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-black {
  color: #000; }

.bg-black {
  background-color: #000; }

.text-gray {
  color: #555555; }

.bg-gray {
  background-color: #555555; }

.text-light {
  color: #6C6C6C; }

.bg-light {
  background-color: #6C6C6C; }

.m-auto {
  margin-: auto; }

.p-auto {
  padding-: auto; }

.mt-auto {
  margin-top: auto; }

.pt-auto {
  padding-top: auto; }

.mb-auto {
  margin-bottom: auto; }

.pb-auto {
  padding-bottom: auto; }

.ml-auto {
  margin-left: auto; }

.pl-auto {
  padding-left: auto; }

.mr-auto {
  margin-right: auto; }

.pr-auto {
  padding-right: auto; }

.m-0 {
  margin-: 0; }

.p-0 {
  padding-: 0; }

.mt-0 {
  margin-top: 0; }

.pt-0 {
  padding-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.pb-0 {
  padding-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.pl-0 {
  padding-left: 0; }

.mr-0 {
  margin-right: 0; }

.pr-0 {
  padding-right: 0; }

.m-1 {
  margin-: 0.5rem; }

.p-1 {
  padding-: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.pt-1 {
  padding-top: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.pl-1 {
  padding-left: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.m-2 {
  margin-: 1rem; }

.p-2 {
  padding-: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.pt-2 {
  padding-top: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.pl-2 {
  padding-left: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.m-3 {
  margin-: 1.5rem; }

.p-3 {
  padding-: 1.5rem; }

.mt-3 {
  margin-top: 1.5rem; }

.pt-3 {
  padding-top: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.pb-3 {
  padding-bottom: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.pl-3 {
  padding-left: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.m-4 {
  margin-: 2rem; }

.p-4 {
  padding-: 2rem; }

.mt-4 {
  margin-top: 2rem; }

.pt-4 {
  padding-top: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.pb-4 {
  padding-bottom: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.pl-4 {
  padding-left: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.m-5 {
  margin-: 2.25rem; }

.p-5 {
  padding-: 2.25rem; }

.mt-5 {
  margin-top: 2.25rem; }

.pt-5 {
  padding-top: 2.25rem; }

.mb-5 {
  margin-bottom: 2.25rem; }

.pb-5 {
  padding-bottom: 2.25rem; }

.ml-5 {
  margin-left: 2.25rem; }

.pl-5 {
  padding-left: 2.25rem; }

.mr-5 {
  margin-right: 2.25rem; }

.pr-5 {
  padding-right: 2.25rem; }

.m-6 {
  margin-: 2.5rem; }

.p-6 {
  padding-: 2.5rem; }

.mt-6 {
  margin-top: 2.5rem; }

.pt-6 {
  padding-top: 2.5rem; }

.mb-6 {
  margin-bottom: 2.5rem; }

.pb-6 {
  padding-bottom: 2.5rem; }

.ml-6 {
  margin-left: 2.5rem; }

.pl-6 {
  padding-left: 2.5rem; }

.mr-6 {
  margin-right: 2.5rem; }

.pr-6 {
  padding-right: 2.5rem; }

.m-7 {
  margin-: 2.875rem; }

.p-7 {
  padding-: 2.875rem; }

.mt-7 {
  margin-top: 2.875rem; }

.pt-7 {
  padding-top: 2.875rem; }

.mb-7 {
  margin-bottom: 2.875rem; }

.pb-7 {
  padding-bottom: 2.875rem; }

.ml-7 {
  margin-left: 2.875rem; }

.pl-7 {
  padding-left: 2.875rem; }

.mr-7 {
  margin-right: 2.875rem; }

.pr-7 {
  padding-right: 2.875rem; }

.m-8 {
  margin-: 3rem; }

.p-8 {
  padding-: 3rem; }

.mt-8 {
  margin-top: 3rem; }

.pt-8 {
  padding-top: 3rem; }

.mb-8 {
  margin-bottom: 3rem; }

.pb-8 {
  padding-bottom: 3rem; }

.ml-8 {
  margin-left: 3rem; }

.pl-8 {
  padding-left: 3rem; }

.mr-8 {
  margin-right: 3rem; }

.pr-8 {
  padding-right: 3rem; }

.m-9 {
  margin-: 3.125rem; }

.p-9 {
  padding-: 3.125rem; }

.mt-9 {
  margin-top: 3.125rem; }

.pt-9 {
  padding-top: 3.125rem; }

.mb-9 {
  margin-bottom: 3.125rem; }

.pb-9 {
  padding-bottom: 3.125rem; }

.ml-9 {
  margin-left: 3.125rem; }

.pl-9 {
  padding-left: 3.125rem; }

.mr-9 {
  margin-right: 3.125rem; }

.pr-9 {
  padding-right: 3.125rem; }

.m-10 {
  margin-: 4rem; }

.p-10 {
  padding-: 4rem; }

.mt-10 {
  margin-top: 4rem; }

.pt-10 {
  padding-top: 4rem; }

.mb-10 {
  margin-bottom: 4rem; }

.pb-10 {
  padding-bottom: 4rem; }

.ml-10 {
  margin-left: 4rem; }

.pl-10 {
  padding-left: 4rem; }

.mr-10 {
  margin-right: 4rem; }

.pr-10 {
  padding-right: 4rem; }

@media (max-width: 992px) {
  .m-md-auto {
    margin-: auto; }
  .p-md-auto {
    padding-: auto; } }

@media (max-width: 992px) {
  .mt-md-auto {
    margin-top: auto; }
  .pt-md-auto {
    padding-top: auto; } }

@media (max-width: 992px) {
  .mb-md-auto {
    margin-bottom: auto; }
  .pb-md-auto {
    padding-bottom: auto; } }

@media (max-width: 992px) {
  .ml-md-auto {
    margin-left: auto; }
  .pl-md-auto {
    padding-left: auto; } }

@media (max-width: 992px) {
  .mr-md-auto {
    margin-right: auto; }
  .pr-md-auto {
    padding-right: auto; } }

@media (max-width: 992px) {
  .m-md-0 {
    margin-: 0; }
  .p-md-0 {
    padding-: 0; } }

@media (max-width: 992px) {
  .mt-md-0 {
    margin-top: 0; }
  .pt-md-0 {
    padding-top: 0; } }

@media (max-width: 992px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .pb-md-0 {
    padding-bottom: 0; } }

@media (max-width: 992px) {
  .ml-md-0 {
    margin-left: 0; }
  .pl-md-0 {
    padding-left: 0; } }

@media (max-width: 992px) {
  .mr-md-0 {
    margin-right: 0; }
  .pr-md-0 {
    padding-right: 0; } }

@media (max-width: 992px) {
  .m-md-1 {
    margin-: 0.5rem; }
  .p-md-1 {
    padding-: 0.5rem; } }

@media (max-width: 992px) {
  .mt-md-1 {
    margin-top: 0.5rem; }
  .pt-md-1 {
    padding-top: 0.5rem; } }

@media (max-width: 992px) {
  .mb-md-1 {
    margin-bottom: 0.5rem; }
  .pb-md-1 {
    padding-bottom: 0.5rem; } }

@media (max-width: 992px) {
  .ml-md-1 {
    margin-left: 0.5rem; }
  .pl-md-1 {
    padding-left: 0.5rem; } }

@media (max-width: 992px) {
  .mr-md-1 {
    margin-right: 0.5rem; }
  .pr-md-1 {
    padding-right: 0.5rem; } }

@media (max-width: 992px) {
  .m-md-2 {
    margin-: 1rem; }
  .p-md-2 {
    padding-: 1rem; } }

@media (max-width: 992px) {
  .mt-md-2 {
    margin-top: 1rem; }
  .pt-md-2 {
    padding-top: 1rem; } }

@media (max-width: 992px) {
  .mb-md-2 {
    margin-bottom: 1rem; }
  .pb-md-2 {
    padding-bottom: 1rem; } }

@media (max-width: 992px) {
  .ml-md-2 {
    margin-left: 1rem; }
  .pl-md-2 {
    padding-left: 1rem; } }

@media (max-width: 992px) {
  .mr-md-2 {
    margin-right: 1rem; }
  .pr-md-2 {
    padding-right: 1rem; } }

@media (max-width: 992px) {
  .m-md-3 {
    margin-: 1.5rem; }
  .p-md-3 {
    padding-: 1.5rem; } }

@media (max-width: 992px) {
  .mt-md-3 {
    margin-top: 1.5rem; }
  .pt-md-3 {
    padding-top: 1.5rem; } }

@media (max-width: 992px) {
  .mb-md-3 {
    margin-bottom: 1.5rem; }
  .pb-md-3 {
    padding-bottom: 1.5rem; } }

@media (max-width: 992px) {
  .ml-md-3 {
    margin-left: 1.5rem; }
  .pl-md-3 {
    padding-left: 1.5rem; } }

@media (max-width: 992px) {
  .mr-md-3 {
    margin-right: 1.5rem; }
  .pr-md-3 {
    padding-right: 1.5rem; } }

@media (max-width: 992px) {
  .m-md-4 {
    margin-: 2rem; }
  .p-md-4 {
    padding-: 2rem; } }

@media (max-width: 992px) {
  .mt-md-4 {
    margin-top: 2rem; }
  .pt-md-4 {
    padding-top: 2rem; } }

@media (max-width: 992px) {
  .mb-md-4 {
    margin-bottom: 2rem; }
  .pb-md-4 {
    padding-bottom: 2rem; } }

@media (max-width: 992px) {
  .ml-md-4 {
    margin-left: 2rem; }
  .pl-md-4 {
    padding-left: 2rem; } }

@media (max-width: 992px) {
  .mr-md-4 {
    margin-right: 2rem; }
  .pr-md-4 {
    padding-right: 2rem; } }

@media (max-width: 992px) {
  .m-md-5 {
    margin-: 2.25rem; }
  .p-md-5 {
    padding-: 2.25rem; } }

@media (max-width: 992px) {
  .mt-md-5 {
    margin-top: 2.25rem; }
  .pt-md-5 {
    padding-top: 2.25rem; } }

@media (max-width: 992px) {
  .mb-md-5 {
    margin-bottom: 2.25rem; }
  .pb-md-5 {
    padding-bottom: 2.25rem; } }

@media (max-width: 992px) {
  .ml-md-5 {
    margin-left: 2.25rem; }
  .pl-md-5 {
    padding-left: 2.25rem; } }

@media (max-width: 992px) {
  .mr-md-5 {
    margin-right: 2.25rem; }
  .pr-md-5 {
    padding-right: 2.25rem; } }

@media (max-width: 992px) {
  .m-md-6 {
    margin-: 2.5rem; }
  .p-md-6 {
    padding-: 2.5rem; } }

@media (max-width: 992px) {
  .mt-md-6 {
    margin-top: 2.5rem; }
  .pt-md-6 {
    padding-top: 2.5rem; } }

@media (max-width: 992px) {
  .mb-md-6 {
    margin-bottom: 2.5rem; }
  .pb-md-6 {
    padding-bottom: 2.5rem; } }

@media (max-width: 992px) {
  .ml-md-6 {
    margin-left: 2.5rem; }
  .pl-md-6 {
    padding-left: 2.5rem; } }

@media (max-width: 992px) {
  .mr-md-6 {
    margin-right: 2.5rem; }
  .pr-md-6 {
    padding-right: 2.5rem; } }

@media (max-width: 992px) {
  .m-md-7 {
    margin-: 2.875rem; }
  .p-md-7 {
    padding-: 2.875rem; } }

@media (max-width: 992px) {
  .mt-md-7 {
    margin-top: 2.875rem; }
  .pt-md-7 {
    padding-top: 2.875rem; } }

@media (max-width: 992px) {
  .mb-md-7 {
    margin-bottom: 2.875rem; }
  .pb-md-7 {
    padding-bottom: 2.875rem; } }

@media (max-width: 992px) {
  .ml-md-7 {
    margin-left: 2.875rem; }
  .pl-md-7 {
    padding-left: 2.875rem; } }

@media (max-width: 992px) {
  .mr-md-7 {
    margin-right: 2.875rem; }
  .pr-md-7 {
    padding-right: 2.875rem; } }

@media (max-width: 992px) {
  .m-md-8 {
    margin-: 3rem; }
  .p-md-8 {
    padding-: 3rem; } }

@media (max-width: 992px) {
  .mt-md-8 {
    margin-top: 3rem; }
  .pt-md-8 {
    padding-top: 3rem; } }

@media (max-width: 992px) {
  .mb-md-8 {
    margin-bottom: 3rem; }
  .pb-md-8 {
    padding-bottom: 3rem; } }

@media (max-width: 992px) {
  .ml-md-8 {
    margin-left: 3rem; }
  .pl-md-8 {
    padding-left: 3rem; } }

@media (max-width: 992px) {
  .mr-md-8 {
    margin-right: 3rem; }
  .pr-md-8 {
    padding-right: 3rem; } }

@media (max-width: 992px) {
  .m-md-9 {
    margin-: 3.125rem; }
  .p-md-9 {
    padding-: 3.125rem; } }

@media (max-width: 992px) {
  .mt-md-9 {
    margin-top: 3.125rem; }
  .pt-md-9 {
    padding-top: 3.125rem; } }

@media (max-width: 992px) {
  .mb-md-9 {
    margin-bottom: 3.125rem; }
  .pb-md-9 {
    padding-bottom: 3.125rem; } }

@media (max-width: 992px) {
  .ml-md-9 {
    margin-left: 3.125rem; }
  .pl-md-9 {
    padding-left: 3.125rem; } }

@media (max-width: 992px) {
  .mr-md-9 {
    margin-right: 3.125rem; }
  .pr-md-9 {
    padding-right: 3.125rem; } }

@media (max-width: 992px) {
  .m-md-10 {
    margin-: 4rem; }
  .p-md-10 {
    padding-: 4rem; } }

@media (max-width: 992px) {
  .mt-md-10 {
    margin-top: 4rem; }
  .pt-md-10 {
    padding-top: 4rem; } }

@media (max-width: 992px) {
  .mb-md-10 {
    margin-bottom: 4rem; }
  .pb-md-10 {
    padding-bottom: 4rem; } }

@media (max-width: 992px) {
  .ml-md-10 {
    margin-left: 4rem; }
  .pl-md-10 {
    padding-left: 4rem; } }

@media (max-width: 992px) {
  .mr-md-10 {
    margin-right: 4rem; }
  .pr-md-10 {
    padding-right: 4rem; } }

@media (max-width: 767px) {
  .m-sm-auto {
    margin-: auto; }
  .p-sm-auto {
    padding-: auto; } }

@media (max-width: 767px) {
  .mt-sm-auto {
    margin-top: auto; }
  .pt-sm-auto {
    padding-top: auto; } }

@media (max-width: 767px) {
  .mb-sm-auto {
    margin-bottom: auto; }
  .pb-sm-auto {
    padding-bottom: auto; } }

@media (max-width: 767px) {
  .ml-sm-auto {
    margin-left: auto; }
  .pl-sm-auto {
    padding-left: auto; } }

@media (max-width: 767px) {
  .mr-sm-auto {
    margin-right: auto; }
  .pr-sm-auto {
    padding-right: auto; } }

@media (max-width: 767px) {
  .m-sm-0 {
    margin-: 0; }
  .p-sm-0 {
    padding-: 0; } }

@media (max-width: 767px) {
  .mt-sm-0 {
    margin-top: 0; }
  .pt-sm-0 {
    padding-top: 0; } }

@media (max-width: 767px) {
  .mb-sm-0 {
    margin-bottom: 0; }
  .pb-sm-0 {
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .ml-sm-0 {
    margin-left: 0; }
  .pl-sm-0 {
    padding-left: 0; } }

@media (max-width: 767px) {
  .mr-sm-0 {
    margin-right: 0; }
  .pr-sm-0 {
    padding-right: 0; } }

@media (max-width: 767px) {
  .m-sm-1 {
    margin-: 0.5rem; }
  .p-sm-1 {
    padding-: 0.5rem; } }

@media (max-width: 767px) {
  .mt-sm-1 {
    margin-top: 0.5rem; }
  .pt-sm-1 {
    padding-top: 0.5rem; } }

@media (max-width: 767px) {
  .mb-sm-1 {
    margin-bottom: 0.5rem; }
  .pb-sm-1 {
    padding-bottom: 0.5rem; } }

@media (max-width: 767px) {
  .ml-sm-1 {
    margin-left: 0.5rem; }
  .pl-sm-1 {
    padding-left: 0.5rem; } }

@media (max-width: 767px) {
  .mr-sm-1 {
    margin-right: 0.5rem; }
  .pr-sm-1 {
    padding-right: 0.5rem; } }

@media (max-width: 767px) {
  .m-sm-2 {
    margin-: 1rem; }
  .p-sm-2 {
    padding-: 1rem; } }

@media (max-width: 767px) {
  .mt-sm-2 {
    margin-top: 1rem; }
  .pt-sm-2 {
    padding-top: 1rem; } }

@media (max-width: 767px) {
  .mb-sm-2 {
    margin-bottom: 1rem; }
  .pb-sm-2 {
    padding-bottom: 1rem; } }

@media (max-width: 767px) {
  .ml-sm-2 {
    margin-left: 1rem; }
  .pl-sm-2 {
    padding-left: 1rem; } }

@media (max-width: 767px) {
  .mr-sm-2 {
    margin-right: 1rem; }
  .pr-sm-2 {
    padding-right: 1rem; } }

@media (max-width: 767px) {
  .m-sm-3 {
    margin-: 1.5rem; }
  .p-sm-3 {
    padding-: 1.5rem; } }

@media (max-width: 767px) {
  .mt-sm-3 {
    margin-top: 1.5rem; }
  .pt-sm-3 {
    padding-top: 1.5rem; } }

@media (max-width: 767px) {
  .mb-sm-3 {
    margin-bottom: 1.5rem; }
  .pb-sm-3 {
    padding-bottom: 1.5rem; } }

@media (max-width: 767px) {
  .ml-sm-3 {
    margin-left: 1.5rem; }
  .pl-sm-3 {
    padding-left: 1.5rem; } }

@media (max-width: 767px) {
  .mr-sm-3 {
    margin-right: 1.5rem; }
  .pr-sm-3 {
    padding-right: 1.5rem; } }

@media (max-width: 767px) {
  .m-sm-4 {
    margin-: 2rem; }
  .p-sm-4 {
    padding-: 2rem; } }

@media (max-width: 767px) {
  .mt-sm-4 {
    margin-top: 2rem; }
  .pt-sm-4 {
    padding-top: 2rem; } }

@media (max-width: 767px) {
  .mb-sm-4 {
    margin-bottom: 2rem; }
  .pb-sm-4 {
    padding-bottom: 2rem; } }

@media (max-width: 767px) {
  .ml-sm-4 {
    margin-left: 2rem; }
  .pl-sm-4 {
    padding-left: 2rem; } }

@media (max-width: 767px) {
  .mr-sm-4 {
    margin-right: 2rem; }
  .pr-sm-4 {
    padding-right: 2rem; } }

@media (max-width: 767px) {
  .m-sm-5 {
    margin-: 2.25rem; }
  .p-sm-5 {
    padding-: 2.25rem; } }

@media (max-width: 767px) {
  .mt-sm-5 {
    margin-top: 2.25rem; }
  .pt-sm-5 {
    padding-top: 2.25rem; } }

@media (max-width: 767px) {
  .mb-sm-5 {
    margin-bottom: 2.25rem; }
  .pb-sm-5 {
    padding-bottom: 2.25rem; } }

@media (max-width: 767px) {
  .ml-sm-5 {
    margin-left: 2.25rem; }
  .pl-sm-5 {
    padding-left: 2.25rem; } }

@media (max-width: 767px) {
  .mr-sm-5 {
    margin-right: 2.25rem; }
  .pr-sm-5 {
    padding-right: 2.25rem; } }

@media (max-width: 767px) {
  .m-sm-6 {
    margin-: 2.5rem; }
  .p-sm-6 {
    padding-: 2.5rem; } }

@media (max-width: 767px) {
  .mt-sm-6 {
    margin-top: 2.5rem; }
  .pt-sm-6 {
    padding-top: 2.5rem; } }

@media (max-width: 767px) {
  .mb-sm-6 {
    margin-bottom: 2.5rem; }
  .pb-sm-6 {
    padding-bottom: 2.5rem; } }

@media (max-width: 767px) {
  .ml-sm-6 {
    margin-left: 2.5rem; }
  .pl-sm-6 {
    padding-left: 2.5rem; } }

@media (max-width: 767px) {
  .mr-sm-6 {
    margin-right: 2.5rem; }
  .pr-sm-6 {
    padding-right: 2.5rem; } }

@media (max-width: 767px) {
  .m-sm-7 {
    margin-: 2.875rem; }
  .p-sm-7 {
    padding-: 2.875rem; } }

@media (max-width: 767px) {
  .mt-sm-7 {
    margin-top: 2.875rem; }
  .pt-sm-7 {
    padding-top: 2.875rem; } }

@media (max-width: 767px) {
  .mb-sm-7 {
    margin-bottom: 2.875rem; }
  .pb-sm-7 {
    padding-bottom: 2.875rem; } }

@media (max-width: 767px) {
  .ml-sm-7 {
    margin-left: 2.875rem; }
  .pl-sm-7 {
    padding-left: 2.875rem; } }

@media (max-width: 767px) {
  .mr-sm-7 {
    margin-right: 2.875rem; }
  .pr-sm-7 {
    padding-right: 2.875rem; } }

@media (max-width: 767px) {
  .m-sm-8 {
    margin-: 3rem; }
  .p-sm-8 {
    padding-: 3rem; } }

@media (max-width: 767px) {
  .mt-sm-8 {
    margin-top: 3rem; }
  .pt-sm-8 {
    padding-top: 3rem; } }

@media (max-width: 767px) {
  .mb-sm-8 {
    margin-bottom: 3rem; }
  .pb-sm-8 {
    padding-bottom: 3rem; } }

@media (max-width: 767px) {
  .ml-sm-8 {
    margin-left: 3rem; }
  .pl-sm-8 {
    padding-left: 3rem; } }

@media (max-width: 767px) {
  .mr-sm-8 {
    margin-right: 3rem; }
  .pr-sm-8 {
    padding-right: 3rem; } }

@media (max-width: 767px) {
  .m-sm-9 {
    margin-: 3.125rem; }
  .p-sm-9 {
    padding-: 3.125rem; } }

@media (max-width: 767px) {
  .mt-sm-9 {
    margin-top: 3.125rem; }
  .pt-sm-9 {
    padding-top: 3.125rem; } }

@media (max-width: 767px) {
  .mb-sm-9 {
    margin-bottom: 3.125rem; }
  .pb-sm-9 {
    padding-bottom: 3.125rem; } }

@media (max-width: 767px) {
  .ml-sm-9 {
    margin-left: 3.125rem; }
  .pl-sm-9 {
    padding-left: 3.125rem; } }

@media (max-width: 767px) {
  .mr-sm-9 {
    margin-right: 3.125rem; }
  .pr-sm-9 {
    padding-right: 3.125rem; } }

@media (max-width: 767px) {
  .m-sm-10 {
    margin-: 4rem; }
  .p-sm-10 {
    padding-: 4rem; } }

@media (max-width: 767px) {
  .mt-sm-10 {
    margin-top: 4rem; }
  .pt-sm-10 {
    padding-top: 4rem; } }

@media (max-width: 767px) {
  .mb-sm-10 {
    margin-bottom: 4rem; }
  .pb-sm-10 {
    padding-bottom: 4rem; } }

@media (max-width: 767px) {
  .ml-sm-10 {
    margin-left: 4rem; }
  .pl-sm-10 {
    padding-left: 4rem; } }

@media (max-width: 767px) {
  .mr-sm-10 {
    margin-right: 4rem; }
  .pr-sm-10 {
    padding-right: 4rem; } }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.px-auto {
  padding-right: auto;
  padding-left: auto; }

.py-auto {
  padding-top: auto;
  padding-bottom: auto; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.mx-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.px-2 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.mx-3 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.px-3 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.mx-4 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.px-4 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.mx-5 {
  margin-right: 2.25rem;
  margin-left: 2.25rem; }

.my-5 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.px-5 {
  padding-right: 2.25rem;
  padding-left: 2.25rem; }

.py-5 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }

.mx-6 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }

.my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.px-6 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.py-6 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.mx-7 {
  margin-right: 2.875rem;
  margin-left: 2.875rem; }

.my-7 {
  margin-top: 2.875rem;
  margin-bottom: 2.875rem; }

.px-7 {
  padding-right: 2.875rem;
  padding-left: 2.875rem; }

.py-7 {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem; }

.mx-8 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.px-8 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.mx-9 {
  margin-right: 3.125rem;
  margin-left: 3.125rem; }

.my-9 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem; }

.px-9 {
  padding-right: 3.125rem;
  padding-left: 3.125rem; }

.py-9 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }

.mx-10 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.px-10 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

@media (max-width: 992px) {
  .mx-md-auto {
    margin-right: auto;
    margin-left: auto; }
  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .px-md-auto {
    padding-right: auto;
    padding-left: auto; }
  .py-md-auto {
    padding-top: auto;
    padding-bottom: auto; } }

@media (max-width: 992px) {
  .mx-md-0 {
    margin-right: 0;
    margin-left: 0; }
  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .px-md-0 {
    padding-right: 0;
    padding-left: 0; }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 992px) {
  .mx-md-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  .my-md-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .px-md-1 {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .py-md-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }

@media (max-width: 992px) {
  .mx-md-2 {
    margin-right: 1rem;
    margin-left: 1rem; }
  .my-md-2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .px-md-2 {
    padding-right: 1rem;
    padding-left: 1rem; }
  .py-md-2 {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

@media (max-width: 992px) {
  .mx-md-3 {
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
  .my-md-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .px-md-3 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
  .py-md-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

@media (max-width: 992px) {
  .mx-md-4 {
    margin-right: 2rem;
    margin-left: 2rem; }
  .my-md-4 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .px-md-4 {
    padding-right: 2rem;
    padding-left: 2rem; }
  .py-md-4 {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

@media (max-width: 992px) {
  .mx-md-5 {
    margin-right: 2.25rem;
    margin-left: 2.25rem; }
  .my-md-5 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem; }
  .px-md-5 {
    padding-right: 2.25rem;
    padding-left: 2.25rem; }
  .py-md-5 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem; } }

@media (max-width: 992px) {
  .mx-md-6 {
    margin-right: 2.5rem;
    margin-left: 2.5rem; }
  .my-md-6 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .px-md-6 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }
  .py-md-6 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; } }

@media (max-width: 992px) {
  .mx-md-7 {
    margin-right: 2.875rem;
    margin-left: 2.875rem; }
  .my-md-7 {
    margin-top: 2.875rem;
    margin-bottom: 2.875rem; }
  .px-md-7 {
    padding-right: 2.875rem;
    padding-left: 2.875rem; }
  .py-md-7 {
    padding-top: 2.875rem;
    padding-bottom: 2.875rem; } }

@media (max-width: 992px) {
  .mx-md-8 {
    margin-right: 3rem;
    margin-left: 3rem; }
  .my-md-8 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .px-md-8 {
    padding-right: 3rem;
    padding-left: 3rem; }
  .py-md-8 {
    padding-top: 3rem;
    padding-bottom: 3rem; } }

@media (max-width: 992px) {
  .mx-md-9 {
    margin-right: 3.125rem;
    margin-left: 3.125rem; }
  .my-md-9 {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem; }
  .px-md-9 {
    padding-right: 3.125rem;
    padding-left: 3.125rem; }
  .py-md-9 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem; } }

@media (max-width: 992px) {
  .mx-md-10 {
    margin-right: 4rem;
    margin-left: 4rem; }
  .my-md-10 {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .px-md-10 {
    padding-right: 4rem;
    padding-left: 4rem; }
  .py-md-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

@media (max-width: 767px) {
  .mx-sm-auto {
    margin-right: auto;
    margin-left: auto; }
  .my-sm-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .px-sm-auto {
    padding-right: auto;
    padding-left: auto; }
  .py-sm-auto {
    padding-top: auto;
    padding-bottom: auto; } }

@media (max-width: 767px) {
  .mx-sm-0 {
    margin-right: 0;
    margin-left: 0; }
  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .px-sm-0 {
    padding-right: 0;
    padding-left: 0; }
  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .mx-sm-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  .my-sm-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .px-sm-1 {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .py-sm-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }

@media (max-width: 767px) {
  .mx-sm-2 {
    margin-right: 1rem;
    margin-left: 1rem; }
  .my-sm-2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .px-sm-2 {
    padding-right: 1rem;
    padding-left: 1rem; }
  .py-sm-2 {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

@media (max-width: 767px) {
  .mx-sm-3 {
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
  .my-sm-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .px-sm-3 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
  .py-sm-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

@media (max-width: 767px) {
  .mx-sm-4 {
    margin-right: 2rem;
    margin-left: 2rem; }
  .my-sm-4 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .px-sm-4 {
    padding-right: 2rem;
    padding-left: 2rem; }
  .py-sm-4 {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

@media (max-width: 767px) {
  .mx-sm-5 {
    margin-right: 2.25rem;
    margin-left: 2.25rem; }
  .my-sm-5 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem; }
  .px-sm-5 {
    padding-right: 2.25rem;
    padding-left: 2.25rem; }
  .py-sm-5 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem; } }

@media (max-width: 767px) {
  .mx-sm-6 {
    margin-right: 2.5rem;
    margin-left: 2.5rem; }
  .my-sm-6 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .px-sm-6 {
    padding-right: 2.5rem;
    padding-left: 2.5rem; }
  .py-sm-6 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; } }

@media (max-width: 767px) {
  .mx-sm-7 {
    margin-right: 2.875rem;
    margin-left: 2.875rem; }
  .my-sm-7 {
    margin-top: 2.875rem;
    margin-bottom: 2.875rem; }
  .px-sm-7 {
    padding-right: 2.875rem;
    padding-left: 2.875rem; }
  .py-sm-7 {
    padding-top: 2.875rem;
    padding-bottom: 2.875rem; } }

@media (max-width: 767px) {
  .mx-sm-8 {
    margin-right: 3rem;
    margin-left: 3rem; }
  .my-sm-8 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .px-sm-8 {
    padding-right: 3rem;
    padding-left: 3rem; }
  .py-sm-8 {
    padding-top: 3rem;
    padding-bottom: 3rem; } }

@media (max-width: 767px) {
  .mx-sm-9 {
    margin-right: 3.125rem;
    margin-left: 3.125rem; }
  .my-sm-9 {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem; }
  .px-sm-9 {
    padding-right: 3.125rem;
    padding-left: 3.125rem; }
  .py-sm-9 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem; } }

@media (max-width: 767px) {
  .mx-sm-10 {
    margin-right: 4rem;
    margin-left: 4rem; }
  .my-sm-10 {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .px-sm-10 {
    padding-right: 4rem;
    padding-left: 4rem; }
  .py-sm-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

.gap-auto {
  gap: auto; }

.gap-0 {
  gap: 0; }

.gap-1 {
  gap: 0.5rem; }

.gap-2 {
  gap: 1rem; }

.gap-3 {
  gap: 1.5rem; }

.gap-4 {
  gap: 2rem; }

.gap-5 {
  gap: 2.25rem; }

.gap-6 {
  gap: 2.5rem; }

.gap-7 {
  gap: 2.875rem; }

.gap-8 {
  gap: 3rem; }

.gap-9 {
  gap: 3.125rem; }

.gap-10 {
  gap: 4rem; }

@media (max-width: 992px) {
  .gap-md-auto {
    gap: auto; } }

@media (max-width: 992px) {
  .gap-md-0 {
    gap: 0; } }

@media (max-width: 992px) {
  .gap-md-1 {
    gap: 0.5rem; } }

@media (max-width: 992px) {
  .gap-md-2 {
    gap: 1rem; } }

@media (max-width: 992px) {
  .gap-md-3 {
    gap: 1.5rem; } }

@media (max-width: 992px) {
  .gap-md-4 {
    gap: 2rem; } }

@media (max-width: 992px) {
  .gap-md-5 {
    gap: 2.25rem; } }

@media (max-width: 992px) {
  .gap-md-6 {
    gap: 2.5rem; } }

@media (max-width: 992px) {
  .gap-md-7 {
    gap: 2.875rem; } }

@media (max-width: 992px) {
  .gap-md-8 {
    gap: 3rem; } }

@media (max-width: 992px) {
  .gap-md-9 {
    gap: 3.125rem; } }

@media (max-width: 992px) {
  .gap-md-10 {
    gap: 4rem; } }

@media (max-width: 767px) {
  .gap-sm-auto {
    gap: auto; } }

@media (max-width: 767px) {
  .gap-sm-0 {
    gap: 0; } }

@media (max-width: 767px) {
  .gap-sm-1 {
    gap: 0.5rem; } }

@media (max-width: 767px) {
  .gap-sm-2 {
    gap: 1rem; } }

@media (max-width: 767px) {
  .gap-sm-3 {
    gap: 1.5rem; } }

@media (max-width: 767px) {
  .gap-sm-4 {
    gap: 2rem; } }

@media (max-width: 767px) {
  .gap-sm-5 {
    gap: 2.25rem; } }

@media (max-width: 767px) {
  .gap-sm-6 {
    gap: 2.5rem; } }

@media (max-width: 767px) {
  .gap-sm-7 {
    gap: 2.875rem; } }

@media (max-width: 767px) {
  .gap-sm-8 {
    gap: 3rem; } }

@media (max-width: 767px) {
  .gap-sm-9 {
    gap: 3.125rem; } }

@media (max-width: 767px) {
  .gap-sm-10 {
    gap: 4rem; } }

.w-25 {
  width: 25%; }

@media (max-width: 992px) {
  .w-md-25 {
    width: 25%; } }

@media (max-width: 767px) {
  .w-sm-25 {
    width: 25%; } }

.w-50 {
  width: 50%; }

@media (max-width: 992px) {
  .w-md-50 {
    width: 50%; } }

@media (max-width: 767px) {
  .w-sm-50 {
    width: 50%; } }

.w-75 {
  width: 75%; }

@media (max-width: 992px) {
  .w-md-75 {
    width: 75%; } }

@media (max-width: 767px) {
  .w-sm-75 {
    width: 75%; } }

.w-100 {
  width: 100%; }

@media (max-width: 992px) {
  .w-md-100 {
    width: 100%; } }

@media (max-width: 767px) {
  .w-sm-100 {
    width: 100%; } }

.w-auto {
  width: auto; }

@media (max-width: 992px) {
  .w-md-auto {
    width: auto; } }

@media (max-width: 767px) {
  .w-sm-auto {
    width: auto; } }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 345px; } }
  @media (max-width: 767px) {
    .container-sm-none {
      max-width: 100%; } }

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.no-gutters {
  margin-left: 0px;
  margin-right: 0px; }
  .no-gutters > [class*='col-'] {
    padding-left: 0px;
    padding-right: 0px; }

.col-1 {
  max-width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%; }

.col-2 {
  max-width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%; }

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }

.col-4 {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%; }

.col-5 {
  max-width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%; }

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.col-7 {
  max-width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%; }

.col-8 {
  max-width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%; }

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%; }

.col-10 {
  max-width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%; }

.col-11 {
  max-width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%; }

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

@media (max-width: 992px) {
  .col-md-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-md-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-md-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-md-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-md-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-md-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-md-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-md-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-md-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-md-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-md-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; } }

@media (max-width: 767px) {
  .col-sm-1 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-2 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-3 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-4 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-5 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-6 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-7 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-8 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-9 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-10 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .col-sm-11 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

@media (max-width: 992px) {
  .flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 992px) {
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 992px) {
  .flex-md-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 992px) {
  .flex-md-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

@media (max-width: 767px) {
  .flex-sm-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 767px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .flex-sm-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 767px) {
  .flex-sm-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

@media (max-width: 992px) {
  .flex-md-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 992px) {
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

@media (max-width: 992px) {
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; } }

@media (max-width: 767px) {
  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 767px) {
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

@media (max-width: 767px) {
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; } }

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

@media (max-width: 992px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 992px) {
  .d-md-block {
    display: block; } }

@media (max-width: 992px) {
  .d-md-inline {
    display: inline; } }

@media (max-width: 992px) {
  .d-md-inline-block {
    display: inline-block; } }

@media (max-width: 767px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .d-sm-block {
    display: block; } }

@media (max-width: 767px) {
  .d-sm-inline {
    display: inline; } }

@media (max-width: 767px) {
  .d-sm-inline-block {
    display: inline-block; } }

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

@media (max-width: 992px) {
  .items-md-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (max-width: 992px) {
  .items-md-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media (max-width: 992px) {
  .items-md-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 992px) {
  .items-md-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

@media (max-width: 992px) {
  .items-md-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; } }

@media (max-width: 767px) {
  .items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (max-width: 767px) {
  .items-sm-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media (max-width: 767px) {
  .items-sm-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 767px) {
  .items-sm-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

@media (max-width: 767px) {
  .items-sm-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; } }

.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.align-text-bottom {
  vertical-align: text-bottom; }

.align-text-top {
  vertical-align: text-top; }

.fs-bs {
  font-size: 1rem; }

.fs-1 {
  font-size: 4rem; }

.fs-2 {
  font-size: 3rem; }

.fs-3 {
  font-size: 2.625rem; }

.fs-4 {
  font-size: 2.25rem; }

.fs-5 {
  font-size: 2rem; }

.fs-6 {
  font-size: 1.5rem; }

.fs-7 {
  font-size: 1.25rem; }

.fs-8 {
  font-size: 1.125rem; }

.fs-9 {
  font-size: 0.875rem; }

@media (max-width: 992px) {
  .fs-md-bs {
    font-size: 1rem; } }

@media (max-width: 992px) {
  .fs-md-1 {
    font-size: 4rem; } }

@media (max-width: 992px) {
  .fs-md-2 {
    font-size: 3rem; } }

@media (max-width: 992px) {
  .fs-md-3 {
    font-size: 2.625rem; } }

@media (max-width: 992px) {
  .fs-md-4 {
    font-size: 2.25rem; } }

@media (max-width: 992px) {
  .fs-md-5 {
    font-size: 2rem; } }

@media (max-width: 992px) {
  .fs-md-6 {
    font-size: 1.5rem; } }

@media (max-width: 992px) {
  .fs-md-7 {
    font-size: 1.25rem; } }

@media (max-width: 992px) {
  .fs-md-8 {
    font-size: 1.125rem; } }

@media (max-width: 992px) {
  .fs-md-9 {
    font-size: 0.875rem; } }

@media (max-width: 767px) {
  .fs-sm-bs {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .fs-sm-1 {
    font-size: 4rem; } }

@media (max-width: 767px) {
  .fs-sm-2 {
    font-size: 3rem; } }

@media (max-width: 767px) {
  .fs-sm-3 {
    font-size: 2.625rem; } }

@media (max-width: 767px) {
  .fs-sm-4 {
    font-size: 2.25rem; } }

@media (max-width: 767px) {
  .fs-sm-5 {
    font-size: 2rem; } }

@media (max-width: 767px) {
  .fs-sm-6 {
    font-size: 1.5rem; } }

@media (max-width: 767px) {
  .fs-sm-7 {
    font-size: 1.25rem; } }

@media (max-width: 767px) {
  .fs-sm-8 {
    font-size: 1.125rem; } }

@media (max-width: 767px) {
  .fs-sm-9 {
    font-size: 0.875rem; } }

.border-main {
  border-color: #9F1213; }

.border-gray {
  border-color: #555555; }

.border-light {
  border-color: #DCDCDC; }

.border--0 {
  border--width: 0px solid; }

.border-- {
  border--width: 1px solid; }

.border--1 {
  border--width: 4px solid; }

.border--2 {
  border--width: 8px solid; }

.border--3 {
  border--width: 3px solid; }

.border-top-0 {
  border-top-width: 0px solid; }

.border-top- {
  border-top-width: 1px solid; }

.border-top-1 {
  border-top-width: 4px solid; }

.border-top-2 {
  border-top-width: 8px solid; }

.border-top-3 {
  border-top-width: 3px solid; }

.border-right-0 {
  border-right-width: 0px solid; }

.border-right- {
  border-right-width: 1px solid; }

.border-right-1 {
  border-right-width: 4px solid; }

.border-right-2 {
  border-right-width: 8px solid; }

.border-right-3 {
  border-right-width: 3px solid; }

.border-bottom-0 {
  border-bottom-width: 0px solid; }

.border-bottom- {
  border-bottom-width: 1px solid; }

.border-bottom-1 {
  border-bottom-width: 4px solid; }

.border-bottom-2 {
  border-bottom-width: 8px solid; }

.border-bottom-3 {
  border-bottom-width: 3px solid; }

.border-left-0 {
  border-left-width: 0px solid; }

.border-left- {
  border-left-width: 1px solid; }

.border-left-1 {
  border-left-width: 4px solid; }

.border-left-2 {
  border-left-width: 8px solid; }

.border-left-3 {
  border-left-width: 3px solid; }

@font-face {
  font-family: 'Roboto';
  unicode-range: U+000-5FF, U+1e00-1fff, U+2000-2300; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif; }

.header {
  padding: 1.875rem 5.5rem;
  color: #fff;
  background-color: #AA0601; }
  @media (max-width: 992px) {
    .header {
      padding: 1.875rem 0; } }
  @media (max-width: 767px) {
    .header {
      padding-top: 0.625rem;
      padding-bottom: 0; } }

.logo a {
  display: block;
  width: 5rem;
  height: 3.0625rem;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 767px) {
    .logo a {
      width: 3rem;
      height: 1.8125rem;
      margin-bottom: 0.625rem; } }

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  background-color: #AA0601; }

.link {
  text-decoration: none; }
  .link--underline {
    position: relative; }
    .link--underline::after {
      position: absolute;
      width: 100%;
      top: 100;
      display: block;
      content: '';
      border-bottom: solid 2px #fff;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
    .link--underline:hover::after, .link--underline :focus::after {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }

.icon {
  width: 3rem;
  height: 3rem; }
  @media (max-width: 992px) {
    .icon {
      width: 1.5rem;
      height: 1.5rem; } }

.icon-list {
  max-width: 2.75rem;
  max-height: 2.75rem;
  width: 100%;
  height: 100%; }
  @media (max-width: 992px) {
    .icon-list {
      max-width: 2rem;
      max-height: 2rem; } }
  @media (max-width: 767px) {
    .icon-list {
      max-width: 1rem;
      max-height: 1rem; } }

.img {
  width: calc(100vw);
  -o-object-fit: cover;
     object-fit: cover; }

@media (max-width: 767px) {
  .border-sm {
    border: 1px solid; } }

.border-bottom {
  border-bottom: 1px solid; }

.border-white {
  border-color: #fff; }

.hide {
  display: none; }

@media (max-width: 992px) {
  .hide-md {
    display: none; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none; } }

.text-center {
  text-align: center; }

/*# sourceMappingURL=all.css.map */
